<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Basecamp</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>1935861</string>
		<key>Key</key>
		<string>basecamp_id</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>ID</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Backpack</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>redgraphic</string>
		<key>Key</key>
		<string>backpack_subdomain</string>
		<key>Title</key>
		<string>Subdomain</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Harvest App</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>redgraphic</string>
		<key>Key</key>
		<string>harvest_subdomain</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Subdomain</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Highrise App</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>redgraphic</string>
		<key>Key</key>
		<string>highrise_subdomain</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Subdomain</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Extension Settings</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>15</real>
		<key>Key</key>
		<string>delay</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Refresh Time</string>
		<key>Titles</key>
		<array>
			<string>5 minutes</string>
			<string>15 minutes</string>
			<string>30 minutes</string>
			<string>1 hour</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>5</real>
			<real>15</real>
			<real>30</real>
			<real>60</real>
		</array>
	</dict>
</array>
</plist>
