<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Evgeny Golubev</string>
	<key>Builder Version</key>
	<string>11601.2.7.2</string>
	<key>CFBundleDisplayName</key>
	<string>Harvest Time Tracker for Basecamp</string>
	<key>CFBundleIdentifier</key>
	<string>com.evgeny.golubev.harvest4basecamp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9</string>
	<key>CFBundleVersion</key>
	<string>1.9</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/basecamp.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>https://basecamp.com/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Integrate Harvest time tracking to Basecamp</string>
	<key>DeveloperIdentifier</key>
	<string>3VDA3ZUKA4</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.basecamp.com</string>
				<string>*.harvestapp.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/evgeny-golubev/Safari-Extensions/raw/master/Harvest4Basecamp/update.plist</string>
	<key>Website</key>
	<string>https://github.com/evgeny-golubev/Safari-Extensions/tree/master/Harvest4Basecamp</string>
</dict>
</plist>
